
    #album {
        display: block;

    }
    #todos {
        display: block;

    }

@media only screen and (max-width: 968px) {
    /* For mobile phones: */
    .b-Act {
        width: 50%;
    }
    #posts {
        width: 100%;
    }
    #album {
        display: none;
        width: 100%;
    }
    #todos {
        display: none;
        width: 100%;
    }
}